* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2eadf;
}
.container {
  position: relative;
  width: 340px;
  height: 600px;
  background: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
}
header {
  position: relative;
  background: #008069;
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-style: 1.1em;
}
header .action {
  display: flex;
  color: #fff;
  text-decoration: none;
  gap: 15px;
}
header .action span {
  color: #fff;
  display: flex;
  font-style: 1.5rem;
  text-decoration: none;
}
.tabs {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #008069;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.tabs span {
  width: 33.33%;
  color: #fff;
  opacity: 0.75;
  text-align: center;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-style: 0.9em;
  cursor: pointer;
}
.underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 33.33%;
  height: 3px;
  background: #fff;
  transition: 0.5s;
}
img {
  width: 60px;
}
.content .data {
  position: relative;
  bottom: 490px;
}
.chatlist {
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.chatlist .block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 15px 10px;
  display: flex;
  cursor: pointer;
}
.chatlist .block:hover {
  background: #f5f5f5;
}
.chatlist .block .imgbx {
  position: relative;
  min-width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 50%;
}
.chatlist .block .imgbx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chatlist .block .details {
  position: relative;
  width: 100%;
}
.chatlist .block .details .listHead {
  display: flex;
  justify-content: space-between;
}
.chatlist .block .details .listHead h4 {
  font-style: 1em;
  font-weight: 600;
  width: 100%;
  color: #111;
}
.chatlist .block .details .listHead .time {
  font-style: 0.75em;
  color: #555;
}
.message_p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.chatlist .block .details p {
  color: #555;
}
.chatlist .block.unread .details .listHead .time {
  color: #06d755;
  font-weight: 600;
}
.chatlist .block.unread .details p {
  color: #111;
  font-weight: normal;
}
.message_p b {
  background: #06d755;
  color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: 0.75em;
}
/*the status 's css code*/
.box {
  position: absolute;
  top: 135px;
}
.status .plus {
  position: absolute;
  top: 38px;
  left: 40px;
  width: 25px;
  height: 25px;
  background: #008069;
  border: 3px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-style: 1.2em;
  font-weight: 700;
}
.box label {
  padding: 0 15px;
  font-weight: 600;
  color: #555;
  font-style: 0.85em;
}
.unseen .imgbx {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #008069;
}
.seen .imgbx {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #bbb;
}
.green {
  background: #008069;
  display: flex;
  justify-content: center;
  color: #fff;
  align-items: center;
  font-size: 1.5em;
  rotate: -45deg;
}
.incoming ion-icon {
  color: #0f0;
  rotate: 45deg;
}
.outgoing ion-icon {
  color: #f00;
  rotate: 45deg;
}
.call {
  font-size: 1.5em;
  color: #008069;
}
.boxcalls {
  width: 340px;
  position: absolute;
  top: 135px;
}
